<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/1227497/pexels-photo-1227497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center">Featured</small>
                    <small class="bg-light text-info text-center">Views - 100,256</small>
                    <small class="bg-light text-warning text-center">LAST UPDATED - JAN 08, 2024</small>

                    <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quos ducimus molestias autem suscipit eveniet sequi voluptatibus, provident laboriosam ipsum voluptatum ipsa iusto mollitia vero animi, quam perferendis sed optio.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora odit assumenda placeat, maxime ad molestiae. In laborum asperiores aspernatur libero corporis, dolorem dolor. Accusamus natus reprehenderit veritatis eveniet itaque enim!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dicta hic, ipsum aliquid reiciendis temporibus, rerum in sed distinctio sunt, ab amet porro harum placeat velit beatae est ullam at!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, necessitatibus excepturi blanditiis labore optio maxime tempora dolores facilis error, voluptas incidunt recusandae illo repudiandae, quis placeat voluptate eum aut. Laboriosam.
                    </p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>
