<div class="card">
    <img src="https://images.pexels.com/photos/1174932/pexels-photo-1174932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ms-3">Featured</small>
        <small class="bg-light text-info text-center ms-3">Views - 100,256</small>

        <h5 class="mt-1">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cum provident eos delectus doloremque quae nobis voluptates, ex fugiat molestiae quam. Ut laborum commodi, eius aliquid eos esse porro vel.</p>

        <small class="bg-light text-warning text-center ms-3">LAST UPDATED - JAN 07, 2024</small>

    </div>
</div>
